<%- include("templates/header") %>

<div class="container py-4 pt-1 pb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-body-tertiary p-4">
        <% if (error) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
        <% } %>
        <form action="/profile/updateProfile" method="POST">
          <h5 class="mb-4">Update Profile</h5>
          <small class="form-text text-muted">* Required fields are mandatory</small>
          <div class="form-group mt-3">
            <label for="name">Name: *</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= name %>" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= email %>" disabled>
          </div>
          <div class="form-group mt-3">
            <label for="currentPassword">Current Password: *</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
          </div>
          <div class="form-group mt-3">
            <label for="newPassword">New Password:</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Optional"
              onchange="checkNewPassword()">
          </div>
          <div class="form-group mt-3">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
          </div>
          <div class="form-group mb-4 mt-4">
            <label for="dietaryRestrictions">Dietary Restrictions: (Optional)</label>
            <% allRestrictions.forEach(function(dietaryRestriction) { %>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="dietaryRestrictions"
                value="<%= dietaryRestriction.name %>"
                <% if (dietaryRestrictions && dietaryRestrictions.length && dietaryRestrictions[0] !== null && dietaryRestrictions.includes(dietaryRestriction.name)) { %>checked<% } %>
                id="dietaryRestriction<%= dietaryRestriction.id %>">
              <label class="form-check-label" for="dietaryRestriction<%= dietaryRestriction.id %>">
                <%= dietaryRestriction.name %>
              </label>
            </div>
            <% }); %>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Update Profile</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/editProfile.js"></script>

<%- include("templates/footer") %>
