<%- include("templates/header") %>
<!-- Home page content -->
<div class="container py-5 text-center">
    <h1 class="display-4 fw-bold">
        Hello, <%= name %>!
    </h1>
    <div class="col-lg-6 mx-auto mt-4">
        What are we making today?
    </div>
    <form class="w-100 mx-auto mt-4" id="form" role="userInput" method="POST" action="/home/addIngredient">
        <div class="input-group">
            <input class="form-control" type="text" id="ingredientInput" name="ingredient"
                placeholder="Enter ingredient">
        </div>
    </form>
    <div id="suggestions"></div>
    <br>
    <div>
        <%- include('templates/ingredients', {ingredients: ingredients}) %><br>
    </div>
    <form class="mt-4" method="POST" action="/home/clearIngredients">
        <button class="btn btn-danger">Clear Ingredients</button>
    </form>
    <form class="mt-2" method="POST" action="/recipes">
        <input type="hidden" name="ingredients" value="<%= JSON.stringify(ingredients) %>">
        <button class="btn btn-success">Find Recipes</button>
    </form>
</div>

<script src="/scripts/home.js"></script>
<script src="/scripts/topTen.js"></script>
<%- include("templates/footer") %>


<%- include("templates/footer") %>