<%- include("templates/header") %>

<div class="container">
  <h1>Recipes</h1>
  <!-- Buttons for sorting -->
  <div class="btn-group">
    <button type="button" class="btn btn-secondary" onclick="sortRecipes('asc', recipes)">Sort Ascending</button>
    <button type="button" class="btn btn-secondary" onclick="sortRecipes('desc', recipes)">Sort Descending</button>
  </div>

  <!-- Renders all the recipes -->
  <% if (recipes.length === 0) { %>
  <p>Sorry, no recipes found.</p>
  <% } else { %>
  <div class="row">
    <% for (let i = 0; i < recipes.length; i++) { %>
    <div id="recipe-<%= recipes[i].id %>" class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title"><%= recipes[i].name %></h2>
          <p class="card-text"><%= recipes[i].description %></p>
          <% if (parseInt(recipes[i].minutes) > 60) { %>
          <% const hours = Math.floor(parseInt(recipes[i].minutes) / 60); %>
          <% const minutes = parseInt(recipes[i].minutes) % 60; %>
          <p class="card-text"><strong>Time:</strong> <%= hours %> hours <%= minutes %> minutes</p>
          <% } else { %>
          <p class="card-text"><strong>Time:</strong> <%= recipes[i].minutes %> minutes</p>
          <% } %>
          <p class="card-text"><strong>Number of Ingredients:</strong> <%= recipes[i].n_ingredients %></p>
          <p class="card-text"><strong>Tags:</strong></p>
          <div class="tags">
            <% for (let j = 0; j < recipes[i].tags.length; j++) { %>
            <span
              class="badge bg-info-subtle border border-info-subtle text-info-emphasis rounded-pill"><%= recipes[i].tags[j] %></span>
            <% } %>
          </div><br>
          <div class="d-flex align-items-center justify-content-between">
            <a href="/recipes/<%= encodeURIComponent(recipes[i].name) %>" class="btn btn-primary">View Recipe</a>
            <i class="btn btn-outline-primary bi <%= recipes[i].isSaved ? 'bi-star-fill' : 'bi-star' %>"
              onclick="saveRecipe('<%= recipes[i].id %>', this)"></i>
          </div>
        </div>
      </div>
    </div>
  <% } %>
</div>
<% } %>
</div>

<script src="/scripts/recipes.js"></script>
<script src="/scripts/sortRecipes.js"></script>


<%- include("templates/footer") %>