<%- include("templates/header") %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form class="card bg-body-tertiary p-2" id="recipesForm" method="<%= isMyRecipesPage ? 'GET' : 'POST' %>"
        action="<%= isMyRecipesPage ? '/recipes/myRecipes' : '/recipes' %>">
        <div class="form-group">
          <label for="sortOption">Sort by:</label>
          <select class="form-control" id="sortOption" onchange="sortRecipes()">
            <option value="" <%= !sort ? 'selected' : '' %>>Most matched ingredients (Default)</option>
            <option value="asc" <%= sort === 'asc' ? 'selected' : '' %>>Time: Ascending</option>
            <option value="desc" <%= sort === 'desc' ? 'selected' : '' %>>Time: Descending</option>
            <option value="numIngredients" <%= sort === 'numIngredients' ? 'selected' : '' %>>Least Ingredients Required
            </option>
          </select>
          <input type="hidden" id="sortInput" name="sort" value="<%= sort %>">
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="ignoreDietaryRestrictionsCheckbox"
            onchange="toggleDietaryRestrictions(this)" value="<%= ignoreDietaryRestrictions %>"
            <% if (ignoreDietaryRestrictions) { %>checked<% } %>>
          <label class="form-check-label" for="ignoreDietaryRestrictionsCheckbox">Ignore my dietary restrictions</label>
        </div>

        <input type="hidden" id="ignoreDietaryRestrictionsInput" name="ignoreDietaryRestrictions"
          value="<%= ignoreDietaryRestrictions %>">
        <% if (!isMyRecipesPage) { %>
        <input type="hidden" id="ingredientsInput" name="ingredients" value="<%= ingredients %>">
        <% } %>
      </form>
    </div>
  </div>

  <div class="container" style="padding-top: 2%; padding-bottom: 2%;">
    <% if (recipes.length === 0) { %>
    <p class="ostrichFontBlack" style="text-align: center;">Sorry, no recipes found.</p>
    <% } else { %>
    <div class="row justify-content-center pb-3">
      <% for (let i = 0; i < recipes.length; i++) { %>
        <!-- Inside the loop -->
        <% if (ignoreDietaryRestrictions || ((!dietaryRestrictions.includes('Gluten-Free') || recipes[i].tags.includes('gluten-free')) 
              && (!dietaryRestrictions.includes('Low-Carb') || recipes[i].tags.includes('low-carb')) 
              &&(!dietaryRestrictions.includes('Low-Fat') || recipes[i].tags.includes('low-fat')) 
              && (!dietaryRestrictions.includes('Vegetarian') || (recipes[i].tags.includes('vegan') && recipes[i].tags.includes('vegetarian'))) 
            && (!dietaryRestrictions.includes('Lactose-Free') || recipes[i].tags.includes('dairy-free')))) { %>
            <%- include("templates/recipes-card", { recipe: recipes[i] }) %>
        <% } %>
      <% } %>
    </div>
    <% } %>
  </div>

  <script src="/scripts/recipes.js"></script>

  <%- include("templates/footer") %>