<%- include("templates/header") %>

<div class="container">
  <h2 class="card card-title comfortaaBold bg-body-tertiary text-center">Food Waste? Not today</h2>
  <div class="row">
    <% for (let i = 0; i < wastes.length; i++) { %>
      <div class="col-lg-6 mt-4">
        <div class="card bg-body-tertiary">
          <div class="card-body">
            <h5 class="card-title"><%= wastes[i].name %></h5>
            <p class="card-text"><strong>Expired:</strong> <%= wastes[i].expired %></p>
            <p class="card-text"><strong>About to Expire:</strong> <%= wastes[i].aboutToExpire %></p>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>

<%- include("templates/footer") %>
