<%- include("templates/header") %>
<!-- Home page content -->
<div class="container py-5 text-center">
    <h1 class="display-4 fw-bold comfortaaBold">
        Hello, <%= name %>!
    </h1>
    <%- include('reduceMyWaste.ejs') %>
    <div class="col-lg-6 mx-auto mt-4 ostrichFontBlack">
        What are we making today?
    </div>
    <form class="w-100 mx-auto mt-4" id="form" role="userInput" method="POST" action="/home/addIngredient">
        <div class="input-group">
            <input class="form-control comfortaaBold" type="text" id="ingredientInput" name="ingredient"
                placeholder="Enter ingredient" style="border-radius:50px;">
        </div>
    </form>
<!--Sams easter egg was removed feel free to add back in-->

    <div id="suggestions"></div>
    <br>
    <div style="background-color: plum; border-radius: 10px; padding-left: 2%">
        <%- include('templates/ingredients', {ingredients: ingredients}) %>
    </div>
    <form class="mt-4" method="POST" action="/home/clearIngredients">
        <button class="btn btn-danger">Clear Ingredients</button>
    </form>
    <form class="mt-2" method="POST" action="/recipes">
        <input type="hidden" id="ingredientsInput" name="ingredients" value="<%= JSON.stringify(ingredients) %>">
        <button class="btn btn-success">Find Recipes</button>
    </form>
    <form class="mt-5" method="POST" action="/reduceMyWaste">
        <input type="hidden" id="wasteInput" name="waste" value="<%= JSON.stringify(ingredients) %>">
        <button class="btn btn-primary">Reduce My Waste!</button>
    </form>
    
    
</div>

<script src="/scripts/home.js"></script>
<script src="/scripts/topTen.js"></script>
<%- include("templates/footer") %>