<div class="d-flex align-items-center justify-content-between">
    <h1><%= waste.name %></h1>
    <i class="btn btn-outline-primary bi <%= waste.isSaved ? 'bi-star-fill' : 'bi-star' %>"
      onclick="saveRecipe('<%= waste.id %>', this)" style="border-radius: 100%"></i>
  </div>
  <p><strong>Expired:</strong> <%= waste.expired %></p>
  <p><strong>About to Expire:</strong> <%= waste.aboutToExpire %></p>
  